@import url('post.css');
@import url('typography.css');
@import url('notes.css');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    display: grid;
    grid-template-areas:
        "header"
        "sidebar"
        "content"
        "footer";
    grid-gap: 10px;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

/* layoutsmaller screens */
@media (max-width: 1024px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        margin: 10px 0;
    }
}

/* Layout for larger screens */
@media (min-width: 769px) {
    .container {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "header header"
            "sidebar content"
            "footer footer";
    }

    .cards {
        flex-direction: row;
    }

    .card {
        width: calc(33% - 20px);
    }
}

.box {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: auto;
    width: 100%;
    margin: 10px;
    line-height: 1.6;
}


.header {
    grid-area: header;
    text-align: center;
    background-color: #534590;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    box-sizing: border-box;
}


.banner-image {
    width: 100%;
    height: 275px;
    border-radius: 5px 5px 0 0;
}

/* Navbar */
.nav {
    text-align: center;
    margin-top: 10px;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav ul li {
    margin: 0 10px;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    background-color: #534590;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: block;
    white-space: nowrap;
}

.nav ul li a:hover {
    background-color: #ddd;
    color: #333;
}

/* Sidebar Styles */
.sidebar {
    grid-area: sidebar;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    background-color: #f4f4f4;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #ddd;
}

/* Content  */
.content {
    grid-area: content;
}

.content h2 {
    margin-top: 0;
}

/* Welcome */
.welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
}

.welcome-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.welcome-text {
    flex: 1;
    margin-right: 20px;
}

.welcome-image {
    flex: 1;
    max-width: 500px;
    width: 100%;
    height: auto;

}

img,
figcaption {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        translate: 150vw 0;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}

.figure-number {
    font-style: italic;
}

figcaption {
    width: 200px;
    padding: 0.5rem 1rem;
    margin: 0;
    font-style: italic;
}

.card-image {
    animation-duration: 5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        translate: 150vw 0;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}

/* Cards */
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card h3 {
    margin-top: 0;
    white-space: normal;
    word-wrap: break-word;
}


.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}


.footer {
    grid-area: footer;
    text-align: center;
    background-color: #534590;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
}

.welcome {
    box-shadow: 0 4px 8px 0 rgba(200, 106, 219, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 20px;
}

.blog {
    box-shadow: 0 9px 8px 0 rgba(100, 100, 200, 0.2);
    transition: 0.3s;
    border-radius: 15px;
    padding: 20px;
}

.about {
    box-shadow: 0 4px 8px 0 rgba(100, 7, 119, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 20px;
}

@media (max-width: 768px) {
    form .form-group {
        flex: 1 1 100%;
    }
}

/* Adjustments for very small screens */
@media (max-width: 375px) {
    .card {
        width: 100%;
        margin: 10px 0;
    }

    .card h3,
    .card p {
        font-size: 0.9em;
    }

    /* Ensure form elements are aligned properly */
    form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    form input,
    form textarea {
        width: 100%;
        margin-bottom: 10px;
    }

    form button {
        width: 100%;
    }

    .welcome {
        flex-direction: column;
    }

    .welcome-text,
    .welcome-image {
        margin: 0;
        flex: none;
        width: 100%;
    }

    .welcome-text {
        margin-bottom: 20px;

    }

    .nav ul {
        padding: 0 10px;

    }

    .nav ul li {
        margin: 5px 0;

    }

    .nav ul li a {
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }
}