@import url('main.css');
@import url('post.css');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");



.date {
    background-color: lightgray;
    color: #fff;
    font-weight: 300;
    padding: 10px;
    margin: 10px 5px;
    width: 170px;
}

blockquote {
    font-style: italic;
    font-weight: 300;
}

.sub-p {
    text-align: right;
    font-style: italic;
    line-height: 1.6;
}

#topic {
    text-decoration: underline;
}

#para1 {
    text-indent: 20px;
}

#para2 {
    text-indent: 20px;
    /* text-transform: uppercase; */
}

em {
    font-weight: bold;
}

#cap {
    /* font-weight: 400; */
    text-transform: uppercase;
}

.content figcaption {
    text-align: left;
    font-style: italic;
    color: #777;
    margin-bottom: 10px;
    font-weight: 400;
    text-decoration: underline;
}

#info3 {
    padding: 15px;
}

.social a {
    text-decoration: none;
    color: blue;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.social a:hover {
    background-color: lightblue;
    color: #333;
}